<% @page_title = "トッピング詳細" %>

<h1><%= @page_title %></h1>

<h3><%= flash[:notice]%></h3>

<div class="toolbar"><%= link_to "削除", [:admin, @topping], method: :delete, data: {confirm: "本当に削除しますか？"} %></div>

<table class="attr">
  <tr>
    <th>トッピング名</th>
    <td><%= @topping.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @topping.price %></td>
  </tr>
  <tr>
    <th>現在のストック</th>
    <td><%= @topping.stock %></td>
  </tr>
  <%= form_for [:admin, @topping] do |form| %>
  <tr>
    <th><%= form.label :stock, "ストック更新" %></th>
    <% options = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]%>
    <td><%= form.select :stock, options %></td>
  </tr>
  <%= form.submit "数量変更" %>
  <% end %>
</table>

<div class="toolbar"><%= link_to "<<トッピング一覧に戻る", admin_toppings_path %></div>
