<% @page_title = "サイドメニュー詳細" %>

<h1><%= @page_title %></h1>

<h3><%= flash[:notice]%></h3>

<table class="attr">
  <tr>
    <th>サイドメニュー名</th>
    <td><%= @sidemenu.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @sidemenu.price %></td>
  </tr>
  <tr>
    <th>サイズ</th>
    <td><%= @sidemenu.size %></td>
  </tr>
</table>

<% if current_member %>
  <% "ログインしているかつ既にカート(cart:0)を保持している人" %>
  <% if Order.find_by(member_id: current_member.id, cart: false).present? %>
    <% @order = Order.find_by(member_id: current_member.id, cart: false) %>
  <% end %>
<% else %>
  <% "ログインしていないが、既にカート(id = 100)を保持している人" %>
  <% if Order.find_by(member_id: 100, cart: false).present? %>
    <% @order = Order.find_by(member_id: 100, cart: false) %>
  <% end %>
<% end %>

<%= link_to "カートへ追加", edit_order_sidemenu_path(@order, @sidemenu) %>

<div class="toolbar"><%= link_to "<<サイドメニュー一覧に戻る", sidemenus_path %></div>
