<h2>管理者ページ</h2>

<ul>
	<li><%= link_to "会員一覧", "#" %></li>
	<li><%= link_to "トッピング一覧", "#" %></li>
	<li><%= link_to "メインメニュー一覧", "#" %></li>
  <li><%= link_to "サイドメニュー一覧", "#" %></li>
	<li><%= link_to "オーダー管理", "#" %></li>
</ul>
