<h2>Pizza</h2>

<% if current_member %>
<h4>ログイン状態</h4>
<% end %>

<% if @mainmenus.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>超オススメ！メインメニュー名</th>
      </tr>
    </thead>
    <tbody>
      <% @mainmenus.each do |mainmenu| %>
        <tr>
          <td><%= link_to mainmenu.name, mainmenu %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>メインメニュー情報がありません。</p>
<% end %>

<ul>
	<li><%= link_to "メインメニュー一覧", mainmenus_path %></li>
  <li><%= link_to "サイドメニュー一覧", sidemenus_path %></li>
  <% unless current_member %>
    <% if Order.find_by(member_id: 100, cart: false).present? %>
      <% @order = Order.find_by(member_id: 100, cart: false) %>
    <% else %>
      <% @member = Member.new %>
      <% @member.id = 100 %>
      <% @order = Order.new %>
      <% @order.member = @member %>
      <% @order.save! %>
    <% end %>
    <li><%= link_to "カート", order_path(@order) %></li>
	  <li><%= link_to "ログイン", edit_session_path %></li>
  <% end %>
  <% if current_member %>
    <% "ログインしていて、既にカートへ何かしら入れてorderがnewされている人"%>
    <% if Order.find_by(member_id: current_member.id, cart: false).present? %>
      <% @order = Order.find_by(member_id: current_member.id, cart: false) %>
    <% "ログインしているが、カート自体をまだnewしていない人"%>
    <% else %>
      <% @order = Order.new %>
      <% @order.member = current_member %>
      <% @order.save %>
    <% end %>
    <li><%= link_to "カート", order_path(@order) %></li>
	  <li><%= link_to "マイアカウントページ", edit_member_path(current_member) %></li>
  <% end %>
	<li><%= link_to "新規会員登録", new_member_path %></li>
</ul>
