<%= form_for @mainmenu do |form| %>
<table class="attr">
  <tr>
    <th>メインメニュー名</th>
    <td><%= @mainmenu.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @mainmenu.price %></td>
  </tr>
  <tr>
    <th>サイズ</th>
    <td><%= @mainmenu.size %></td>
  </tr>
  <% Topping.all.each do |topping| %>
  <% if topping.stock > 0 %>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.check_box :topping_ids, { multiple: true }, topping.id, "" %><%= topping.name %>&emsp;</td>
  </tr>
  <% else %>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.check_box :topping_ids, disabled: true %><%= topping.name %>&emsp;</td>
  </tr>
  <% end %>
  <% end %>
</table>
<div><%= form.submit "更新" %></div>
<% end %>
