<% @page_title = "注文詳細" %>
<h1><%= @page_title %></h1>

<h3><%= @order.member.name + "さんの注文内容"%></h3>

住所：<%= @order.address %> <br>
配達希望時間：<%= @order.time %> <br>
合計金額：<%= @order.price %><br>

<%= form_for [:admin, @order] do |form| %>
  <%= form.check_box :case %>
  <%= form.label :case, "配達完了" %>
  <%= form.submit "登録" %>
<% end %>
