<% @page_title = "確認画面" %>

<h1><%= @page_title %></h1>

<h3><%= "注文内容" %></h3>

<% price = 0 %>
<% @order.products.each do |product| %>
  <p><%= product.mainmenu.name %></p>
  <% price = price + product.mainmenu.price %>
  <% product.toppings.each do |topping| %>
    <p><%= topping.name %></p>
    <% price = price + topping.price %>
  <% end %>
<% end %>

<% @order.sidemenus.each do |sidemenu| %>
  <p><%= sidemenu.name %></p>
  <% price = price + sidemenu.price %>
<% end %>

<h4><%= "合計金額" %></h4>
<h4><%= price %></h4>

<h4><%= "配達先住所" %></h4>
<h4><%= @order.address %></h4>

<h4><%= "配達希望時間" %></h4>
<h4><%= @order.time %></h4>

<%= form_for @order, method: :get, url: edit_order_path(@order) do |form| %>
	<%= form.hidden_field :address %>
	<%= form.hidden_field :time %>
	<%= form.submit '入力画面に戻る' %>
<% end %>

<%= form_for @order, method: :post, url: complete_path(@order) do |form| %>
	<%= form.hidden_field :address %>
	<%= form.hidden_field :time %>
	<%= form.submit '送信する' %>
<% end %>
