<div class="title">
  <h1><span>P</span>izza</h1>
</div>

<div class="savutitle">
  <% if current_member %>
    <% @page_title = @order.member.name + "さんのカート内情報" %>
  <% else %>
    <% @page_title = "カート内情報" %>
  <% end %>
  <h3><%= @page_title %></h3>
</div>


<div class="main">

<button class = "button"><%= link_to "<<Top", :root %></button><br><br>


<% "オーダーモデルの合計金額" %>
<% price = 0 %>
<% if @order.products.present? %>
  <% @order.products.each do |product| %>
    商品名：<%= product.mainmenu.name %><br>

    <%= form_for product, url: number_path(product), method: :patch do |form| %>
      <% options = [1, 2, 3, 4, 5, 6, 7, 8, 9]%>
      数量：<%= form.select :number, options %>
      <%= form.submit "数量変更" %>
    <% end %>

    <% if product.size == 0 %>
      <% price = price + (product.mainmenu.price - 200) * product.number %>
    <% elsif product.size == 2 %>
     <% price = price + (product.mainmenu.price + 200) * product.number %>
    <% else %>
      <% price = price + (product.mainmenu.price) * product.number %>
    <% end %>
    <% if product.size == 0 %>
      金額：<%= (product.mainmenu.price - 200) * product.number %><br>
    <% elsif product.size == 2 %>
     金額：<%= (product.mainmenu.price + 200) * product.number %><br>
    <% else %>
      金額：<%= (product.mainmenu.price) * product.number %><br>
    <% end %>
    <% product.toppings.each do |topping| %>
      <%= topping.name %><%= "    " %><%= topping.price * product.number %><br>
      <% price = price + (topping.price * product.number) %>
    <% end %>
    <br>

    <%= form_for product, url: number_path(product), method: :patch do |form| %>
        <% Topping.all.each do |topping| %>
          <% if topping.stock < 1 %>
            <%= form.label :topping_ids, value: topping.id, class: 'checkbox' do %>
              <%= form.check_box :topping_ids,disabled: true %>
              <%= topping.name %>
            <% end %>
          <% else %>
            <%= form.label :topping_ids, value: topping.id, class: 'checkbox' do %>
              <%= form.check_box :topping_ids, { multiple: true }, topping.id, nil %>
              <%= topping.name %>
            <% end %>
          <% end %>
        <% end %>
      <%= form.submit 'トッピングの変更', class: 'btn btn-primary' %>
    <% end %>

    <%= link_to "削除", product, method: :delete, data: {confirm: "本当に削除しますか？"} %><br>
    <% @product = Product.find(product.id) %>
    <% @product.price = price %>
    <% @product.save %>
  <% end %>
<% else %>
 <p>カートにメインメニューの情報がありません。</p>
<% end %>

<% if @order.sidemenus.present? %>
  <% @order.sidemenus.each do |sidemenu| %>
  商品名：<%= sidemenu.name %><br>
  <% @order.order_sidemenus.each do |order_sidemenu| %>
    <% if sidemenu.id == order_sidemenu.sidemenu_id%>
      <%= form_for order_sidemenu do |form| %>
        <% options = [1, 2, 3, 4, 5, 6, 7, 8, 9]%>
        数量：<%= form.select :number, options %>
        <%= form.submit "数量変更" %>
      <% end %>
      <% @number = 1 %>
      <% @number = order_sidemenu.number %>
    <% end %>
  <% end %>
  金額：<%= sidemenu.price * @number %><br>
  <% @sidemenu = Sidemenu.find(sidemenu.id) %>
  <%= link_to "削除", sidemenu, method: :delete, data: {confirm: "本当に削除しますか？"} %><br>
  <% price = price + sidemenu.price * @number %>
  <% end %>
<% end %>

<h4><%= "合計金額" %></h4>
<h4><%= price %></h4>



<button calss="button"><%= link_to "注文ボタン", edit_order_path(@order) %></button><br>
<br><button class="button"><%= link_to "<<メインメニュー一覧へ", mainmenus_path %></button>


</div>
