<% @page_title = "トッピング追加画面" %>
<h1><%= @page_title %></h1>

<%= form_for @product do |form| %>

    <% Topping.all.each do |topping| %>
      <%= form.label :topping_ids, value: topping.id, class: 'checkbox' do %>
        <%= form.check_box :topping_ids, { multiple: true }, topping.id, nil %>
        <%= topping.name %>
      <% end %>
    <% end %>

  <%= form.submit 'トッピングの追加', class: 'btn btn-primary' %>
<% end %>

<div><%= link_to "<<メインメニュー詳細へ", product_path(@product) %></div>
