<div class="title">
  <h1><span>P</span>izza</h1>
</div>

<div class="savutitle">
  <% @page_title = "トッピング追加画面" %>
  <h3><%= @page_title %></h3>
</div>


<div class="main">


<%= form_for @product do |form| %>

    <% Topping.all.each do |topping| %>
      <% if topping.stock < 1 %>
        <%= form.label :topping_ids, value: topping.id, class: 'checkbox' do %>
          <%= form.check_box :topping_ids,disabled: true %>
          <%= topping.name %>
        <% end %>
      <% else %>
        <%= form.label :topping_ids, value: topping.id, class: 'checkbox' do %>
          <%= form.check_box :topping_ids, { multiple: true }, topping.id, nil %>
          <%= topping.name %>
        <% end %>
      <% end %>
    <% end %>

  <%= form.submit 'トッピングの追加', class: 'btn btn-primary' %>
<% end %>


<br><button class="button"><%= link_to "<<メインメニュー詳細へ", product_path(@product) %></button>

</div>
