<% @page_title = "メインメニュー詳細" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "トッピングの追加", edit_product_path(@product) %></div>

<table class="attr">
  <tr>
    <th>メインメニュー名</th>
    <td><%= @product.mainmenu.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @product.price %></td>
  </tr>
  <tr>
    <th>サイズ</th>
    <td><%= @product.mainmenu.size %></td>
  </tr>
  <% if @product.toppings.present? %>
  <tr>
    <th>トッピング</th>
    <% @product.toppings.each do |topping| %>
    <td><%= topping.name %></td>
    <% end %>
  </tr>
  <% end %>
</table>


<% if current_member %>
  <% "ログインしているかつ既にカート(cart:0)を保持している人" %>
  <% if Order.find_by(member_id: current_member.id, cart: false).present? %>
    <% @order = Order.find_by(member_id: current_member.id, cart: false) %>
  <% "ログインしているけどカートを保持していない人" %>
  <% else %>
    <% @order = Order.new %>
    <% @order.member = current_member %>
    <% @order.id = current_member.id %>
    <% @order.save! %>
  <% end %>
<% else %>
  <% "ログインしていないが、既にカート(id = 100)を保持している人" %>
  <% if Order.find_by(member_id: 100, cart: false).present? %>
    <% @order = Order.find_by(member_id: 100, cart: false) %>
  <% "ログインしていないし、カート(id = 100)も持っていない人" %>
  <% else %>
    <% @member = Member.new %>
    <% @member.id = 100 %>
    <% @order = Order.new %>
    <% @order.member = @member %>
    <% @order.id = @member.id %>
    <% @order.save! %>
  <% end %>
<% end %>

<%= link_to "カートへ追加", edit_order_product_path(@order, @product) %>

<div><%= link_to "<<メインメニュー一覧へ", mainmenus_path %></div>
