<div class="title">
  <h1><span>P</span>izza</h1>
</div>

<div class="savutitle">
  <% @page_title = "メインメニュー詳細" %>
  <h3><%= @page_title %></h3>
</div>


<div class="main">


<h3><%= flash[:notice]%></h3>

<button class="button"><%= link_to "トッピングの追加", edit_product_path(@product) %></button><br>

<% if current_member %>
  <% "ログインしているかつ既にカート(cart:0)を保持している人" %>
  <% if Order.find_by(member_id: current_member.id, cart: false).present? %>
    <% @order = Order.find_by(member_id: current_member.id, cart: false) %>
  <% end %>
<% else %>
  <% "ログインしていないが、既にカート(id = 100)を保持している人" %>
  <% if Order.find_by(member_id: 100, cart: false).present? %>
    <% @order = Order.find_by(member_id: 100, cart: false) %>
  <% end %>
<% end %>

<table class="attr">
  <tr>
    <th>メインメニュー名</th>
    <td><%= @product.mainmenu.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @product.price %></td>
  </tr>
  <%= form_for [:edit, @order, @product], method: :get do |form| %>
  <tr>
    <th>サイズ</th>
    <td>
      <%= form.radio_button :size, 0 %> S
      <%= form.radio_button :size, 1 %> M
      <%= form.radio_button :size, 2 %> L
    </td>
  </tr>
  <% if @product.toppings.present? %>
  <tr>
    <th>トッピング</th>
    <% @product.toppings.each do |topping| %>
    <td><%= topping.name %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<div><%= form.submit "カートへ追加" %></div>
<% end %>

<button class="button"><%= link_to "<<メインメニュー一覧へ", mainmenus_path %></button>


</div>
