<% @page_title = "マイページ" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "削除", @member, method: :delete, data: {confirm: "本当に削除しますか？"} %></div>
<div class="toolbar"><%= link_to "ログアウト", :session, method: :delete, data: {confirm: "ログアウトしますか？"} %></div>
<div class="toolbar"><%= link_to "利用履歴", member_orders_path(@member) %></div>

<%= form_for @member do |form| %>
<table class="attr">
  <tr>
    <th><%= form.label :name, "アカウント名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :fullname, "氏名" %></th>
    <td><%= form.text_field :fullname %></td>
  </tr>
  <tr>
    <th><%= form.label :password, "パスワード" %></th>
    <td><%= form.text_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :adress, "住所" %></th>
    <td><%= form.text_field :adress %></td>
  </tr>
  <tr>
    <th><%= form.label :email, "メールアドレス" %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <th><%= form.label :phone, "電話番号" %></th>
    <td><%= form.text_field :phone %></td>
  </tr>
  <tr>
    <th><%= form.label :point, "ポイント" %></th>
    <td><%= @member.point %></td>
  </tr>
</table>
<div><%= form.submit "更新" %></div>
<% end %>

<div class="toolbar"><%= link_to "<<Top", :root %></div>
